version: '3.4'

services:
  frontend:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
    ports:
      - "80"
      - "443"
    volumes:
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      
  debug.read:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"


  debug.create:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"


  debug.database:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"


  debug.update:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"

